main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.album-card {
    min-width: 800px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px solid #CCC;
}

.card-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 5px 10px;
}

.card-title p {
    font-weight: bold;
    color: grey;
}

.album-cover {
    width: 400px;
}

.tracks {
    margin-left: 50px;
}