main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.bio-card {
    width: 70vw;
    min-width: 800px;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px solid #CCC;
}

.content {
    display: flex;
    align-items: start;
    gap: 100px;
}

.card-title {
    margin-top: 15px;
}

.bio p {
    margin-top: 20px;
    margin-left: 15px;
}

picture {
    align-self: center;
}

.photo {
    width: 280px;
}